language: python
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - pypy
install: pip install -e . --use-mirrors
script: attest attest.tests
matrix:
  include:
    # py25
    - python: 2.5
      install: pip install simplejson -e . --use-mirrors
      script: attest attest.tests
    # docs
    - python: 2.7
      install:
        - pip install sphinx sphinxcontrib-spelling>=1.0 pyenchant -e . --use-mirrors
      script:
        - cd docs
        - sphinx-build -WEab doctest . build/doctest
        - sphinx-build -WEab html . build/html
        - sphinx-build -WEab linkcheck . build/linkcheck
        - sphinx-build -WEab spelling . build/spelling
